# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Databases / local state
# --------------------
*.sqlite3
*.db

# --------------------
# Environment variables / secrets
# --------------------
.env
.env.*
venv/
.venv/

# --------------------
# OS / Editor
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# --------------------
# Uploads / local storage
# --------------------
uploads/
storage/
